table, td, th {
    border: 1px solid Black;
    border-collapse: collapse;
    padding: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E65539;
}
img {
    height: 350; width: 250;
}
video {
    height: 200; width: 400;
}