body {background-color: #1B1F19;}
form {
    border-radius: 5px;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding: 15px;
}
h1 {
    color: #55C22B;
}
div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
}
#sbutton {
    color: greenyellow;
    background: green;
    font-size: 20px;
    padding: 11px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}